@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Serif&family=Playfair+Display&display=swap');

body{
    background-color: #00800D;
    font-family: 'Inter', sans-serif;
}
nav{
    background-color: #DECECE;
}
