@import url('https://fonts.googleapis.com/css2?family=Inter&family=PT+Serif&family=Playfair+Display&display=swap');

body{
    background-color: #0d4446;
    font-family: 'Nunito', sans-serif;
}

.btn-primary {
    background-color: #0d4446 !important;
}

.text-default {
    color: whitesmoke !important;
}

.card-header {
    background-color: #decece !important;
}
nav{
    background-color: #DECECE;
}
.nav-item.active {
    text-decoration: underline;
    margin-bottom: auto;
    color:#0d4446

}
body,html{
    height: 100%;
    overflow: hidden;
}
.home-logo{
    width: 35%;
    height: auto;
    float: right;
    margin-right: 10%;
}
.bg-img{
    background-image: url(../assets/images/homebckgrnd.jpg);
    height: 100%;
    background-repeat: no-repeat; 
    background-size: 100%;
    background-position: middle;
    /* filter: blur(5px); */
}
h1{
    font-family:'Manjari';
    font-style: thin;
    line-height: auto;
    letter-spacing: 0;
    color: #Ffffff;
    margin-left: 10%;
    font-size: 55px;
    margin-right: 55%;
}
h2{
    font-family:'Manjari';
    font-style: thin;
    line-height: auto;
    letter-spacing: 0;
    color: #20c997;
    margin-left: 10%;
    font-size: 35px;
}
h4{
    font-family:'Manjari';
    font-style: thin;
    line-height: auto;
    letter-spacing: 0;
    color: #Ffffff;
    margin-left: 10%;
    font-weight: 40;
    font-size: 22px;
    margin-right: 50%;
}